@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/custom%20search.css" rel="stylesheet" />
<div  style="padding-top: 80px">
    <div class="container">
	<div class="row">
        <div class= "col-md-3 col-md-offset-3">
            <img src="~/Images/Logo.png" />
        </div>
	</div>
        <br />
        <div class="row">
           <div id="custom-search-input">
               <div class="col-md-6 col-md-offset-3">
                <div class="input-group" style="margin-left:-20px">
                    <input type="text" class="search-query form-control" autofocus placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
               </div>
            </div>
         </div>
	</div>
</div>